/* Cambiar color del enlace de menú cuando se pasa el mouse por encima */
.nav-pills .nav-link:hover {
    background-color: rgb(66, 165, 245); /* Cambia el fondo a azul */
    color: white; /* Cambia el texto a blanco para mayor visibilidad */
}

/* Cambiar color del menú desplegable */
.dropdown-menu .dropdown-item:hover {
    background-color: rgb(66, 165, 245); /* Cambia a azul cuando se pasa el mouse */
    color: white; /* Cambia el texto a blanco */
}

.btn-success{
    background-color: transparent; /* Fondo transparente por defecto */
    color: #42a5f5; /* Color del texto (puedes cambiarlo si lo deseas) */
    border: 2px solid #42a5f5; /* Borde azul */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el fondo y el color del texto */
}
.btn-success:hover{
    background-color: rgb(66, 165, 245); /* Cambia el fondo a azul */
    color: white; /* Cambia el texto a blanco */
}

.btn-custom {
    background-color: transparent; /* Fondo transparente por defecto */
    color: #42a5f5; /* Color del texto (puedes cambiarlo si lo deseas) */
    border: 2px solid #42a5f5; /* Borde azul */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el fondo y el color del texto */
}

.btn-custom:hover {
    background-color: #42a5f5; /* Color azul al pasar el mouse */
    color: white; /* Cambia el color del texto al blanco al pasar el mouse */
}

.navbar-brand img {
    height: 40px; /* Ajusta la altura del logo */
}

.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    padding-right: 30px; /* Espacio para el ícono */
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;  /* Ajusta el tamaño de la imagen */
    height: 20px;
}
#codigo-qr {
    margin-top: 20px;
}
#resumen-compra {
    margin-bottom: 20px;
}

#resumen-texto {
    margin-top: 20px;
    font-weight: bold;
}

.custombg {
    background-color: #42a5f5;

}
html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
  }
  
  .content {
    flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
  }
  
  .footer {
    color: white;
    text-align: center;
    padding: 10px;
  }
  .btn{
    background-color: transparent; /* Fondo transparente por defecto */
    color: #42a5f5; /* Color del texto (puedes cambiarlo si lo deseas) */
    border: 2px solid #008cff;
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el fondo y el color del texto */
  }
  .btn:hover{
    background-color: #42a5f5; /* Color azul al pasar el mouse */
    color: white; /* Cambia el color del texto al blanco al pasar el mouse */
    border: 2px solid #00437a;
  }
  .btn-delete{
    background-color: transparent; /* Fondo transparente por defecto */
    color: #42a5f5; /* Color del texto (puedes cambiarlo si lo deseas) */
    border: 2px solid #006fca;
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el fondo y el color del texto */

  }
  .btn-delete:hover{
    background-color: #ff0000;
    color: white;
    border-color: #000000;
  }
  .form{
    width: 250px;
    height: 40px;
  }
  .nav{
    display: flex;
    justify-content: right; /* Centra los elementos de forma horizontal */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }
  .alert{
    position: fixed;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 500px;
        text-align: center;
        z-index: 1000;
  }